[Unit]
Description=Telegram bot @timesheets_parus_bot
After=network-online.target home-pa-data.mount
Requires=network-online.target home-pa-data.mount

[Service]
ExecStart=/home/pa/data/devel/python/timesheets_parus_bot/venv/bin/python /home/pa/data/devel/python/timesheets_parus_bot/bot.py

[Install]
WantedBy=multi-user.target
