[Unit]
Description=Telegram bot @timesheets_parus_bot
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/timesheets_parus_bot/venv/bin/python /srv/timesheets_parus_bot/main.py

[Install]
WantedBy=multi-user.target
